@using Krompaco.RecordCollector.Content.Models
@using Markdig
@model ListPageViewModel

<div>
	<h1>@Model.Title</h1>

	@if (Model.CurrentPage.ContentType == ContentType.Markdown)
	{
		@Html.Raw(Markdown.ToHtml(Model.CurrentPage.Content, Model.MarkdownPipeline))
	}
	else
	{
		@Html.Raw(Model.CurrentPage.Content)
	}

	@if (Model.CurrentPage.DescendantPages.Count > 0)
	{
		<h2>Posts</h2>
		<ul>
			@foreach (var sp in Model.PagedDescendantPages)
			{
				<li>
					<h3>
						@if (sp.Date != DateTime.MinValue)
						{
							@(sp.Date.ToString("yyyy-MM-dd") + ": ")
						}
						<a href="@sp.RelativeUrl">@sp.Title</a>
					</h3>

					@*@if (sp.ContentType == ContentType.Markdown)
					{
						@Html.Raw(Markdown.ToHtml(sp.Content, Model.MarkdownPipeline))
					}
					else
					{
						@Html.Raw(sp.Content)
					}*@

					@if (@sp.Summary != null)
					{
						if (sp.ContentType == ContentType.Html)
						{
							<h3>The summary</h3>
							@Html.Raw(sp.Summary)
						}
						else
						{
							<h3>The summary</h3>
							<p>@sp.Summary</p>
						}
					}
				</li>
			}
		</ul>

		@Html.Partial("Pagination", Model.PaginationItems)
	}
</div>
