@using Markdig
@model ListPageViewModel

<div>
	<h1>@Model.Title</h1>
	@if (Model.CurrentPage.ChildPages.Count > 0)
	{
		<ul>
			@foreach (var sp in Model.CurrentPage.ChildPages)
			{
				<li>
					<h2>
						@if (sp.Date != DateTime.MinValue)
						{
							@(sp.Date.ToString("yyyy-MM-dd") + ": ")
						}
						<a href="@sp.RelativeUrl">@sp.Title</a>
					</h2>

					@using (var reader = sp.ContentTextReader)
					{
						@Html.Raw(Markdown.ToHtml(reader.ReadToEnd(), Model.MarkdownPipeline))
					}

					@if (@sp.Summary != null)
					{
						if (sp.FullName.EndsWith(".html"))
						{
							<h3>The summary</h3>
							@Html.Raw(sp.Summary)
						}
						else
						{
							<h3>The summary</h3>
							<p>@sp.Summary</p>
						}
					}
				</li>
			}
		</ul>
	}
</div>
