@using Krompaco.RecordCollector.Content.Models
@using Markdig
@model SinglePageViewModel

<h1>@Model.Title</h1>

@if (Model.CurrentPage.Date != DateTime.MinValue)
{
	<time datetime="@Model.CurrentPage.Date.ToString("yyyy-MM-dd")">@Model.CurrentPage.Date.ToShortDateString()</time>
}

@if (Model.CurrentPage.ContentType == ContentType.Markdown)
{
	@Html.Raw(Markdown.ToHtml(Model.CurrentPage.Content, Model.MarkdownPipeline))
}
else
{
	@Html.Raw(Model.CurrentPage.Content)
}
