@using Krompaco.RecordCollector.Content.Models
@using Markdig
@model SinglePageViewModel

<h1>@Model.Title</h1>

@if (Model.CurrentPage.Date != DateTime.MinValue)
{
	<time datetime="@Model.CurrentPage.Date.ToString("yyyy-MM-dd")">@Model.CurrentPage.Date.ToShortDateString()</time>
}

@if (Model.CurrentPage.ContentType == ContentType.Markdown)
{
	@Html.Raw(Markdown.ToHtml(Model.CurrentPage.Content, Model.MarkdownPipeline))
}
else
{
	@Html.Raw(Model.CurrentPage.Content)
}

@if (Model.Categories != null && Model.Categories.Any())
{
	<h2>Tags</h2>
	<ul>
		@foreach (var categoryItem in Model.Categories)
		{
			<li>
				@if (categoryItem.RelativeUrl == null)
				{
					@categoryItem.Text
				}
				else
				{
					<a href="@categoryItem.RelativeUrl">@categoryItem.Text (@categoryItem.PageCount)</a>
				}
			</li>
		}
	</ul>
}

@* This gets confusing to me when category/tag listings are available /JK
@if (!Model.ContentProperties.SectionsToExcludeFromLists
		.Any(x => x.Equals(Model.CurrentPage.Section, StringComparison.OrdinalIgnoreCase))
     && (Model.CurrentPage.NextPage != null || Model.CurrentPage.PreviousPage != null))
{
	<div role="navigation">
		<h2>@Model.Localizer["Page navigation"]</h2>
		<ul>
			@if (Model.CurrentPage.PreviousPage != null)
			{
				<li>
					<a href="@Model.CurrentPage.PreviousPage.RelativeUrl">@Model.Localizer["Previous"]: @Model.CurrentPage.PreviousPage.Title</a>
				</li>
			}

			@if (Model.CurrentPage.NextPage != null)
			{
				<li>
					<a href="@Model.CurrentPage.NextPage.RelativeUrl">@Model.Localizer["Next"]: @Model.CurrentPage.NextPage.Title</a>
				</li>
			}
		</ul>
	</div>
}*@
