@model PaginationViewModel

@if (Model.Items.Count > 1)
{
	<div class="" role="navigation">
		<h3>@Model.Layout.Localizer["Page navigation"]</h3>
		<ul>
			@foreach (var item in Model.Items)
			{
				@if (item.IsSelected)
				{
					<li class="">
						<a href="@item.RelativeUrl" aria-current="page">@item.Page</a>
					</li>
				}
				else if (item.IsFirst)
				{
					<li class="">
						<a href="@item.RelativeUrl">@Model.Layout.Localizer["First"]</a>
					</li>
				}
				else if (item.IsLast)
				{
					<li class="">
						<a href="@item.RelativeUrl">@Model.Layout.Localizer["Last"]</a>
					</li>
				}
				else if (item.IsPrevious)
				{
					<li class="">
						<a href="@item.RelativeUrl" aria-label="@Model.Layout.Localizer["Previous"] (@item.Page)">@Model.Layout.Localizer["Previous"]</a>
					</li>
				}
				else if (item.IsNext)
				{
					<li class="">
						<a href="@item.RelativeUrl" aria-label="@Model.Layout.Localizer["Next"] (@item.Page)">@Model.Layout.Localizer["Next"]</a>
					</li>
				}
				else if (item.IsEllipsis)
				{
					<li class="">
						...
					</li>
				}
				else if (item.IsSeparator)
				{
				}
				else
				{
					<li class="">
						<a href="@item.RelativeUrl">@item.Page</a>
					</li>
				}
			}
		</ul>
	</div>
}
